body{
    margin: 0;
}
.upparent{
    width: 100%;
    height: 160px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upbox{
    width: 1243px;
    height: 56px;
    display: flex;
}
.upbox2{
    width: 393px;
    height: 28px;
    background-color: aqua;
    margin-left: 291px;
    margin-top: 14px;
}