@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}
body{
    margin: 0;
    background-color: #DDEAF8;
}
.upparent{
    width: 100%;
    height: 160px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upbox{
    width: 1243px;
    height: 56px;
    display: flex;
}
.upbox2{
    width: 393px;
    height: 28px;
    margin-left: 291px;
    margin-top: 14px;
    font-family: ubuntu;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
.upbox2 a{
    text-decoration: none;
}
.search{
    width: 222px;
    height: 56px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #758BFD;
    margin-left: 291px;
    display: flex;
    padding: 12px 8px 12px 182px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}
.mainanchor{
    color: #27187F;
}
.anchor{
    color: #758BFD;
}
.news{
    margin-left: 98px;
    margin-top: 115px;
    color: #27187F;

    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.middle{
    width: 1244px;
    height: 717px;
    background-color: red;
    margin-left: 98px;
    margin-top: 55px;
    display: flex;
    
}
.middlechild{
    width: 400px;
    height: 333px;
    background-color: #fff;
    display: flex;
    padding: 33px 30px;
    gap: 33px;
}